.authFormContainer,
.form {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 600px) {
	.authFormContainer {
		padding: 3rem;
		border: 1px solid white;
		border-radius: 10px;
	}
}

p {
	font-size: 2.5rem;
	font-weight: 600;
	color: blue;
	margin: 0.5rem 0;
}

input {
	margin: 0.5rem 0;
	padding: 1rem;
	border: none;
	border-radius: 10px;
}

.button {
	border: 2px solid black;
	border-radius: 10px;
	background-color: rgb(252, 252, 179);
	padding: 10px;
	cursor: pointer;
	color: black;
	font-size: 1rem;
	font-weight: bold;
	margin: 0.5rem 0;
}

.button:hover {
	opacity: 0.75;
}

.button:active {
	opacity: 0.5;
}

.button:disabled {
	border: 2px solid black;
	background-color: grey;
	opacity: 0.25;
}

.errorLabel {
	display: flex;

	width: 205px;
	padding: 5px;
	margin: auto;
	color: red;
	font-size: 0.75rem;
	font-weight: bold;
	background-color: rgb(252, 252, 179);
	border: 2px solid red;
	border-radius: 10px;
}
