.app {
	text-align: center;
}

.content {
	display: none;
}

input[type='checkbox']:checked + .content {
	display: block;
}

.errorLabel {
	padding: 10px;
  margin: auto;
	color: red;
	font-size: 1.25rem;
	font-weight: bold;
	background-color: yellow;
	border: 5px solid black;
	border-radius: 15px;
}
