.red {
	color: red;
  margin-top: 10px;
	font-size: 2rem;
	font-weight: 500;
	border: 5px, solid, white;
	display: flex;
	justify-content: center;
}

.white {
	color: white;
	font-size: 2rem;
	font-weight: 500;
	border: 5px, solid, rgb(16, 14, 14);
	display: flex;
	justify-content: center;
}
